html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my style */

.header {
    padding: 80px 0 80px 0;
}
.logo {
    text-align: center;
}
.logo a:hover svg * {
    fill: #FFD500;
    transition: 0.2s;
}
.menu {
    margin-top: 81px;
}
.menu-open {
    display: none;
}
.burger {
    display: none;
}

.burger-open {
    display: none;
}
.menu-item {
    justify-content: space-between;
    display: flex;
    width: 403px;
    margin: 0 auto;
}
.menu-item a {
    text-decoration: none;
}
.menu-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #005BBB;
}

/* слайдер */
.slick-track {
    display: flex;
    text-align: center;
}
.slick-list {
    overflow: hidden;
}
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.slick-dots li {
    list-style: none;
    margin: 0 16px;
}
.slick-dots button {
    font-size: 0;
    border: 1px solid #005BBB;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots .slick-active button {
    background-color: #005BBB;
}

.img-slider img {
    border-image: linear-gradient(to bottom, #005888 50%, #FFD500 50%) 1 1;
    border-left-width: 10px;
    border-left-style: solid;
}
.about {
    padding: 50px 224px;
}
.about-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #005BBB;
    margin: 0 auto;
    margin-top: 30px;
}
.history {
    max-width: 1024px;
    margin: 0 auto;
}
.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #005BBB;
    text-transform: uppercase;
    padding: 16px 0;
    border-top: 1px solid #005BBB;
    position: relative;
}
.title::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #005BBB;
}
.history-card {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.card {
    padding: 40px;
    background-color: #005BBB;
    width: 487px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 10px solid #FFD500;
}

.card-text {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;    
    line-height: 25px;
}
.date {
    font-size: 48px;
    line-height: 67px;
}
.footer {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 120px;
}
.input {
    margin-top: 40px;
    padding: 30px;
    border: 1px solid #005BBB;
}
.btn-send {
    background: #005BBB;
    color: white;
    text-transform: uppercase;
    padding: 13px 56px;
    letter-spacing: 0.06em;
    border: none;
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
}
.red {
    background: red;
    color:red;
}
.input form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.send-text {
    color: #005BBB;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border: none;
}
.send-text:focus {
    outline: 1px solid #005BBB;
}


/* tablet */
@media only screen
and (min-width: 768px)
and (max-width: 1199px) {
    .header {
        padding: 48px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        display: none;
    }
    .burger {
        display: none;
    }
    .burger-open {
        display: none;
    }
    .menu-open {
        display: none;
    }
    .about {
        padding: 0 60px;
    }
    .about-text {
        font-size: 24px;
        line-height: 34px;
    }
    .history {
        padding: 0 60px;
        margin-top: 80px;
    }
    .title {
        font-size: 30px;
    }
    .title::before {
        width: 452px;
    }
    .history-card {
        flex-direction: column;
    }
    .card {
        margin-bottom: 28px;
        width: 100%;
    }
    .footer {
        margin: 39px 60px;
    }
    .burger {
        display: block;
    }
}

/* mobile */

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    .menu-open {
        display: none;
    }
    .about {
        padding: 0 20px;
    }
    .about-text {
        font-size: 16px;
        line-height: 22px;
    }
    .history {
        margin-top: 48px;
        padding: 0 20px;
    }
    .title::before {
        display: none;
    }
    .title {
        border-bottom: 1px solid #005BBB;
        font-size: 24px;
    }
    .history-card {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 24px;
        width: 100%;
    }
    .card-text {
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }
    .footer {
        margin: 24px 20px;
    }
    .input {
        margin-top: 24px;
        border: none;
        padding: 0;
    }
    .input form {
        flex-direction: column;
    }
    .send-text {
        padding: 20px 0 101px 0;
        border: 1px solid;
        width: 100%;
        text-align: center;
    }
    .btn-send {
        width: 100%;
        margin-top: 19px;
    }
    .send-text:focus {
        outline: none;
    }
}


/* burger-menu */
.header-burger {
    background: #005BBB;
    height: 516px;
    padding: 0;
    position: relative;
    padding: 0 60px;
    box-sizing: border-box;
    transition: 0.3s;
}
.menu-burger {
    display: flex;
    position: absolute;
    margin: 0;
    margin-top: 228px;
}
.menu-name-burger {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex-direction: column;
    margin-bottom: 48px;
}
.burger-close {
    display: block;
    position: absolute;
    right: 60px;
    top: 48px;
}
.logo-burger {
    position: absolute;
    top: 48px;
}

