html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* my style */
.header {
    padding: 80px 0 80px 0;
}
.logo {
    text-align: center;
}
.logo a:hover svg * {
    fill: #FFD500;
    transition: 0.2s;
}
.menu {
    margin-top: 80px;
}
.menu-item {
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
.menu-item li:not(:last-child) {
    margin-right: 80px;
}
.menu-name a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #005BBB;
    text-decoration: none;
}
.menu-name:hover a{
    color:#FFD500;
}

/* burger none */
.header-burger {
    display: none;
}

/* slider style */
.slider {
    max-width: 1352px;
    margin: 0 auto;
}
.slick-slide {
    padding: 0 20px;
}
.slick-list {
    overflow: hidden;
}
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.slick-dots li {
    list-style: none;
    margin: 0 16px;
}
.slick-dots button {
    font-size: 0;
    border: 1px solid #005BBB;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.slick-dots .slick-active button {
    background-color: #005BBB;
}

.img-slider img {
    border-image: linear-gradient(to bottom, #005888 50%, #FFD500 50%) 1 1;
    border-left-width: 10px;
    border-left-style: solid;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.about {
    max-width: 1024px;
    margin: 0 auto;
}
.about-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #005BBB;
    margin: 0 auto;
    margin-top: 30px;
}
.history {
    max-width: 1024px;
    margin: 80px auto;
}
.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #005BBB;
    text-transform: uppercase;
    padding: 16px 0;
    border-top: 1px solid #005BBB;
    position: relative;
}
.title::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #005BBB;
}
.history-card {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.card {
    padding: 40px;
    background-color: #005BBB;
    max-width: 487px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 10px solid #FFD500;
}

.card-text {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;    
    line-height: 25px;
}
.date {
    font-size: 48px;
}
.footer {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 120px;
}
.input {
    margin-top: 40px;
    padding: 30px;
    border: 1px solid #005BBB;
}
.btn-send {
    background: #005BBB;
    color: white;
    text-transform: uppercase;
    padding: 13px 56px;
    letter-spacing: 0.06em;
    border: none;
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
}
.input form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.send-text {
    color: #005BBB;
    font-family: 'Montserrat';
    font-size: 18px;
    padding: 19px 0 0;
    border: none;
    flex-grow: 1;
    margin-right: 30px;
    outline: none;
    resize: none;
}
::placeholder {
    color: #005BBB;
    font-family: 'Montserrat';
    font-size: 18px;
    opacity: 0.5;
}


/* tablet */
@media only screen
and (min-width: 768px)
and (max-width: 1199px) {
    .header {
        padding: 48px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
/* burger tablet */
    .header-burger {
        display: block;
        position: relative;
        width: 48px;
        height: 31px;
        z-index: 1;
    }
    .header-burger::before,
    .header-burger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #005BBB;
    }
    .header-burger::before {
        top: 0;
    }
    .header-burger::after {
        bottom: 0;
    }
    .header-burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #005BBB;
        caret-color: transparent;    
    }
    .menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #005BBB;
        z-index: 1;
        margin: 0;
        padding: 228px 60px 120px 60px;
        transition: all 0.2s ease 0s;
    }
    .menu-name {
        margin-bottom: 48px;
    }
    .logo {
        z-index: 2;
    }
    .menu-item {
        display: block;
    }
    .header-burger.active::before {
        transform: rotate(45deg);
        top: 15px;
        background-color: white;
    }
    .header-burger.active::after {
        transform: rotate(-45deg);
        bottom: 15px;
        background-color: white;
    }
    .header-burger.active span {
        transform: scale(0);   
    }
    .menu.active {
        display: block;
    }
    .logo.active a svg * {
        fill: white;
    }
    .menu-name.active a {
        color: white;
    }
    .about.active {
        margin-top: 402px;
    }
    .slider.active {
        display: none;
    } 
    .about {
        padding: 0 60px;
    }
    .about-text {
        font-size: 24px;
        line-height: 34px;
        }
    .history {
        padding: 0 60px;
        margin-top: 80px;
    }
    .title {
        font-size: 30px;
    }
    .title::before {
        max-width: 452px;
    }
    .history-card {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 28px;
        max-width: 100%;
    }
    .footer {
        margin: 39px 60px;
    }
}

/* mobile */

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    .logo {
        display: none;
    }
    .header {
        padding: 0;
    }
    .menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #005BBB;
        z-index: 1;
        margin: 0;
        padding: 120px 60px 120px 20px;
        transition: all 0.2s ease 0s;
    }
    .menu-item {
        flex-direction: column;
        margin: 120px 20px;
    }
    .about {
        padding: 0 20px;
    }
    .about-text {
        font-size: 16px;
        line-height: 22px;
    }
    .img-slider img {
        width: 100%;
    }
    .slick-slide {
        padding: 0px;
    }
    .slick-dots button {
        display: block;
        width: 8px;
        height: 8px;
    }
    .slick-dots li {
        margin: 0 8px;
    }
    .slick-dots {
        margin-top: 24px;
    }
    .history {
        margin: 48px auto;
        padding: 0 20px;
    }
    .title::before {
        display: none;
    }
    .title {
        border-bottom: 1px solid #005BBB;
        font-size: 24px;
    }
    .history-card {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 24px;
        width: 100%;
    }
    .card-text {
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }
    .date {
        font-size: 24px;
    }
    .footer {
        margin: 24px 20px;
    }
    .input {
        margin-top: 24px;
        border: none;
        padding: 0;
    }
    .input form {
        flex-direction: column;
    }
    .send-text {
        padding: 20px 0 101px 0;
        border: 1px solid;
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    .btn-send {
        width: 100%;
        margin-top: 19px;
    }
    .send-text:focus {
        outline: none;
    }
/* burger mobile */
    .header-burger {
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
        width: 48px;
        height: 31px;
        z-index: 1;
    }
    .header-burger::before,
    .header-burger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
    }
    .header-burger::before {
        top: 0;
    }
    .header-burger::after {
        bottom: 0;
    }
    .header-burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        caret-color: transparent;    
    }

    /* burger active */
    .logo.active {
        display: block;
        position: absolute;
        top: 24px;
        left: 20px;
        z-index: 2;
    }
    .header-burger.active::before {
        transform: rotate(45deg);
        top: 15px;
        background-color: white;
    }
    .header-burger.active::after {
        transform: rotate(-45deg);
        bottom: 15px;
        background-color: white;
    }
    .header-burger.active span {
        transform: scale(0);   
    }
    .menu.active {
        display: block;
        height: 100vh;
        width: 100vw;
        padding: 0px
    }
    .logo.active a svg * {
        fill: white;
        width: 54px;
        height: 47px;
    }
    .logo.active a svg {
        width: 54px;
        height: 47px;
    }
    .menu-name.active a {
        color: white;
        caret-color: transparent; 
    }
    .menu-name.active {
        margin-top: 48px;
    }
    
}


